<!-- templates/index.html -->

<!DOCTYPE html>  <!-- Declare the document type as HTML -->
<html lang="en">  <!-- Start the HTML page, with English language -->
<head>
    <meta charset="UTF-8">  <!-- Set encoding for special characters -->
    <title>Puzzle Master App</title>  <!-- Title that appears in the browser tab -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">PUZZLE MASTER</h1>
        <button class="button-base play-button" id="play-btn">Play</button>
        <button class="button-base highscore-button" id="score-btn">High Score</button>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
